.PageLoading-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.PageLoading-wrapper {
    display: flex;
}


.PageLoading-logo {
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    image-rendering: -moz-crisp-edges;         
    image-rendering:   -o-crisp-edges;         
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; 
}

.PageLoading-logo-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
    z-index: -2;
    transform: translate(-50%, -50%);
    animation: change 2s ease-in-out infinite;
}

.PageLoading-logo-background-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 105%;
    height: 105%;
    z-index: -1;
    transform: translate(-50%, -50%);
    animation: change 1s ease-in-out infinite;
}


@keyframes change {
    0% {
        background-color: yellow
    }
    25% {
        background-color: black
    }
    50% {
        background-color: yellow
    }
    75% {
        background-color: black
    }
    100% {
        background-color: yellow
    }
}

@keyframes change2 {
    0% {
        background-color: black
    }
    25% {
        background-color: yellow
    }
    50% {
        background-color: black
    }
    75% {
        background-color: yellow
    }
    100% {
        background-color: black
    }
}


@media screen and (max-width: 650px) {
    .PageLoading-logo {
        width: 300px;
    }
}