:root {
    --yellow: #ffe625;
  }

.PageHome-div {
    background-color: rgba(0, 0, 0, 0.9)
}

.PageHome-nav {
    display: flex;
    padding: 1em;
}

.PageHome-nav p {
    width: 25%;
    color: var(--yellow);
    font-weight: 600;
    font-size: 2rem;
    box-sizing: border-box;
    padding-left: 2em;
}

ul {
    width: 50%;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

ul li {
    color: var(--yellow);
    margin: 0 1em;
    display: inline;
    font-weight: 100;
    font-size: 1.5rem;
}

ul li:hover {
    cursor: pointer;
}



.PageHome-mid{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%
}

.PageHome-mid img:first-child{
    width: 60%;
    image-rendering: -moz-crisp-edges;         
    image-rendering:   -o-crisp-edges;         
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.PageHome-mid img:last-child{
    display: none;
    image-rendering: -moz-crisp-edges;         
    image-rendering:   -o-crisp-edges;         
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; 
    margin: 0 auto;
}





/* About Page */
.about-div{
    width: 70%;
    margin: 0 auto;
    color: var(--yellow);
}

/* .about-div p:first-child{
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
} */

.about-div p:nth-child(odd) {
    font-size: 3rem;
    font-weight: 400;
}

.about-div p:nth-child(even) {
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 1em;
}



.PageHome-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.PageHome-footer div{
    width: calc(3vw + 3vh);
    height: calc(3vw + 3vh);
    background-color: var(--yellow);
    animation: change 30s ease-in-out infinite;
}

@media screen and (max-width: 1100px) {
    .PageHome-nav p {
        padding-left: 0em;
        text-align: center;
        padding: 0;
    }
    ul {
        padding: 0 2em;
        box-sizing: border-box;
    }
    ul li {
        margin: 0 auto;
    }


    .PageHome-mid img:first-child{
        width: 70%;
    }

    /* About */
    .about-div{
        width: 90%;
    }
    
    /* .about-div p:first-child{
        font-size: 5rem;
    } */
    
    .about-div p:nth-child(odd) {
        font-size: 3rem;
    }
    
    .about-div p:nth-child(even) {
        font-size: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .PageHome-nav {
        flex-direction: column;
    }
    .PageHome-nav p {
        width: 100%;
        padding-left: 0em;
        text-align: center;
    }
    ul {
        width: 100%;
        padding: 0 6em;
        box-sizing: border-box;
    }
    ul li {
        margin: 0 auto;
    }


    .PageHome-mid img:first-child{
        display: none;
    }

    
    .PageHome-mid img:last-child{
        display: block;
        width: 60%;
    }

    /* About */
    .about-div{
        width: 90%;
    }
    
    /* .about-div p:first-child{
        font-size: 4rem;
    } */
    
    .about-div p:nth-child(odd) {
        font-size: 2rem;
    }
    
    .about-div p:nth-child(even) {
        font-size: 1.5rem;
    }

    .PageHome-footer{
        background-color: var(--yellow);
        height: 2em;
        animation: change 30s ease-in-out infinite;
    }
    .PageHome-footer div{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .PageHome-nav {
        flex-direction: column;
    }
    .PageHome-nav p {
        width: 100%;
        padding-left: 0em;
        text-align: center;
    }
    ul {
        padding: 0;
        width: 100%;
    }
    ul li {
        margin: 0 auto;
    }


    .PageHome-mid img:first-child{
        display: none;
    }

    
    .PageHome-mid img:last-child{
        display: block;
        width: 70%;
    }

    /* About */
    .about-div{
        width: 90%;
    }
    
    /* .about-div p:first-child{
        padding-top: 0.5em;
        font-size: 3rem;
    } */
    
    .about-div p:nth-child(odd) {
        font-size: 1.5rem;
    }
    
    .about-div p:nth-child(even) {
        font-size: 1rem;
    }

    .PageHome-footer{
        background-color: var(--yellow);
        height: 2em;
        animation: change 30s ease-in-out infinite;
    }
    .PageHome-footer div{
        display: none;
    }
}



@keyframes change {
    0% {
        background-color: var(--yellow)
    }
    25% {
        background-color: black
    }
    50% {
        background-color: var(--yellow)
    }
    75% {
        background-color: black
    }
    100% {
        background-color: var(--yellow)
    }
}


